@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body,
html {
  margin: 0;
  padding: 0;
 font-family: "Playfair Display", serif;
  height: 100%;
}

.container {
  background: linear-gradient(135deg, #8a2be2, #476ee2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 15px;
  max-width: 400px;
}

.logo {
  width: 200px;
  object-fit: contain;
}

h1 {
  color: #333;
  margin-bottom: 0.5rem;
}

p {
  color: #666;
  margin-bottom: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="email"] {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem;
  background-color: #8a2be2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.9s ease-in-out;
}

button:hover{
    background-color: #4b0b87;
}

